/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */


/* Not sure why this does not work. */

/* html
{
    height: 100%;
} */

body
{
    background-image: linear-gradient(#FC5E55, #FA4083);
    background-repeat: no-repeat;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container
{
    width: 1024px;
    min-height: 300px;
    margin: 0 auto;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav
{
    display: flex;
    justify-content: space-between;
}


main
{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.hero1
{
    flex: 2;
}

.hero2
{
    flex: 1;
}

.hero1 p
{
    max-width: 75%;
}

.hero2 img
{
    max-height: 200px;
}



.cards
{
    background-color: rgb(71, 233, 57);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}


.card1
{
    background-color: rgb(201, 17, 130);
    min-height: 300px;
    width: 30%;
}
.card2
{
    background-color: rgb(245, 39, 166);
    min-height: 300px;
    width: 30%;
}
.card3
{
    background-color: rgb(114, 6, 73);
    min-height: 300px;
    width: 30%;
}


h1
{
    font-size: 3.75rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1.45rem;
}

p
{
    line-height: 1.75rem;
}

.hero1 p 
{
    margin-bottom: 0.75rem;
}
